<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".util.MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MarketPlace"

        android:usesCleartextTraffic="true">
        <activity
            android:name=".ui.navigation.NavigationActivity"
            android:exported="true"
            android:label="@string/title_activity_navigation">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name=".MainActivity"
            android:exported="true">

        </activity>
        <activity android:name=".ui.auth.LoginActivity" />
        <activity android:name=".ui.auth.RegisterActivity" />
        <activity android:name=".ui.updateProfile.UpdateProfileActivity" />
        <activity android:name=".ui.toko.BukaTokoActivity" />
        <activity android:name=".ui.toko.TokoSayaActivity" />
        <activity android:name=".ui.alamatToko.ListAlamatTokoActivity" />
        <activity android:name=".ui.alamatToko.TambahAlamatTokoActivity" />
        <activity android:name=".ui.alamatToko.EditAlamatTokoActivity" />
        <activity android:name=".ui.product.CreateProductActivity" />
        <activity android:name=".ui.product.ListProductTokoActivity" />
        <activity android:name=".ui.product.UpdateProductActivity" />
        <activity android:name="com.inyongtisto.marketplace.ui.category.ListCategoryAdminActivity" />
        <activity android:name="com.inyongtisto.marketplace.ui.adminPanel.AdminPanelActivity" />
        <activity android:name="com.inyongtisto.marketplace.ui.category.CreateCategoryActivity" />
        <activity android:name="com.inyongtisto.marketplace.ui.category.SelectCategoryActivity" />
        <activity android:name="com.inyongtisto.marketplace.ui.slider.ListSliderAdminActivity" />
        <activity android:name="com.inyongtisto.marketplace.ui.slider.CreateSliderActivity" />
    </application>

</manifest>